---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
---

<Layout title="About">
  <main class="p-4">
    <h1 class="text-3xl">About!</h1>

    <Hero title="Welcome to the about" body="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum" />
  </main>
</Layout>
