---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
---

<Layout title="Home">
  <main class="p-4">
    <h1 class="text-3xl">Hola!</h1>

    <Hero title="Welcome" body="Lorem ipsum dolor asimet." />
  </main>
</Layout>
